@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background-color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #5a5a5a;
    
}

header a, footer a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 180%;
    padding: 1vh;
    margin-top: 3px;
}

nav {
    position:absolute;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3f3f3f;
    background-color: #ffffff;
    display: none;
    top: 99%;
}

#main-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 1em;
    align-self: flex-end;
    margin-bottom: 1em;
    font-size: 115%;
    letter-spacing: 4px;
    list-style: none;
    flex-basis: 80vh;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.active {
    border-bottom: 1px solid #5f5f5f;
}

main {
    background-color: rgb(243, 241, 237);
    flex: 1 0 auto;
    margin-top: 60px;
}

#background-image {
    height: 750px;
    width: 100%;
    background: url("../images/2.png") no-repeat right center/cover;
    position: relative;
}

#welcome-text  {
    background-color: rgba(255, 255, 255, .9);
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 15px;
    padding-bottom: 18px;
    position: absolute;
    bottom: 50%;
    width: 200px;
    border-radius: 0 20px 20px 0;
}

#logo-in-text {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

#for-artists {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    bottom: 10%;
    width: 210px;
    border-radius: 20px 0 0 20px;
    text-align: center;
    right: 0;
    margin-right: 0;
    position: absolute;
    z-index: 99;
}

#click-here {
    text-decoration: none;
    color: inherit;
}

#click-here:hover {
    font-weight: 800;
}

#click-here:active {
    font-weight: 800;
}

footer {
    background-color: rgb(216, 213, 210);
    margin-bottom: 0%;
    min-height: 4vh;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    color: #303030;
}

#social-network-icons {
    display: flex;
    list-style-type: none;
    gap: 15px;
    justify-content: space-between;
    font-size: 20px;
}

#copyright {
    font-size: 13px;
    padding-left: 2px;
    align-self: flex-end;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    header {
        position: absolute;
    }

    nav {
        position: relative;
        width: fit-content;
        padding: 0 1rem;
        box-shadow: none;
        background-color: #ffffff;
        display: block;
        }

    #main-menu {
        display: flex;
        flex-direction: row;
        gap: 45px;
        margin-top: 1em;
        margin-left: 1em;
        align-self: flex-end;
        margin-bottom: 1em;
        font-size: 110%;
        letter-spacing: 4px;
        list-style: none;
        flex-basis: 80vh;
    }

    .nav-toggle-label {
        display: none;
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 300%;
        padding-top: 25px;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    main {
        margin-top: 125px;
    }

    #welcome-text {
        padding-top: 24px;
        padding-right: 0;
        padding-bottom: 28px;
        padding-left: 24px;
        position: absolute;
        bottom: 33%;
        width: 50%;
        border-radius: 0 10px 10px 0;
    }
    #for-artists {
        border-radius: 10px 0 0 10px;
    }

    footer {
        min-height: 4vh;
        padding: 10px;
    }

    #social-network-icons {
        gap: 20px;
    }

    #copyright {
        font-size: 13px;
        padding-left: 2px;
        align-self: center;
    }

    /* Media query: laptops and desktops (992px and up) */
    @media screen and (min-width: 992px) {
        h1 {
            letter-spacing: 40px;
            font-size: 600%;
            padding-top: 25px;
        }

        #main-menu a:hover {
            border-bottom: 1px solid;
        }

        #main-menu {
            gap: 150px;
            letter-spacing: 6px;
        }

        main {
            margin-top: 175px;
        }

        #welcome-text {
            padding-top: 24px;
            padding-right: 0;
            padding-bottom: 32px;
            padding-left: 24px;
            position: absolute;
            bottom: 30%;
            width: 33%;
        }
    }
}


    